<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".xap" />
      <remove fileExtension=".xaml" />
      <remove fileExtension=".md" />
      <remove fileExtension=".mm" />
      <remove fileExtension=".h2book" />

      <mimeMap fileExtension=".ttf" mimeType="font/x-font-ttf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-font-woff2" />
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight"/>
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml"/>
      <mimeMap fileExtension=".md" mimeType="text/plain;charset=utf-8"/>
      <mimeMap fileExtension=".markdown" mimeType="text/plain;charset=utf-8"/>
      <mimeMap fileExtension=".iodraw" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".ipynb" mimeType="text/plain; charset=utf-8"/>
      <mimeMap fileExtension=".mm" mimeType="application/xml"/>
      <mimeMap fileExtension=".h2book" mimeType="application/json" />
    </staticContent>
    <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Methods" value="*" />
            <add name="Access-Control-Allow-Headers" value="*" />
        </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Rewrite static files to content" stopProcessing="true">
          <match url="(?:\.css|\.js|\.html|\.eot|\.woff2|\.woff|\.ttf|\.jpg|\.png|\.gif|\.svg|\.h2book)|\.php$" />
          <action type="Rewrite" url="/{SCRIPT_NAME}" />
        </rule>
        <rule name="frontend">
            <match url="(?:\.css|\.js|\.html|\.eot|\.woff2|\.woff|\.ttf|\.jpg|\.png|\.gif|\.svg|\.txt|/read/)" negate="true" />
            <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <security>
        <requestFiltering allowDoubleEscaping="True"/>
    </security>

  </system.webServer>
</configuration>